[user]
	signingkey = FD519DD17EB23BDF
	name = Alex Assunção
	email = alexjjassuncao@gmail.com
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[github]
	user = alexjjassuncao
[core]
	editor = vim
[init]
	defaultBranch = main
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color]
	diff = auto
	status = auto
	branch = auto
